<!DOCTYPE html>
<html>
    <head>
        <title>Balls</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}" style="color:#CC885E;" class="active">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Balls!</h1>
        
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ball Type</th>
                    <th>Edit Selection</th>
                    <th>Delete Selection</th>
                </tr>                
                <tr data-th-each="ball : ${balls}">
                    <td data-th-text="${ball.id}"></td>
                    <td data-th-text="${ball.title}"></td>
                    <td data-th-text="${ball.ballType}"></td>
                    <td><a data-th-href="@{/balls/edit/{id}(id=${ball.id})}">edit</a></td>
                    <td><form data-th-object="${ball}" data-th-action="@{/balls/{id}(id=${ball.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        </div>
    
        <div class="pageform">

        <h2>Add Ball</h2>
        <form data-th-action="@{/balls/add}" name="addBallForm" method="post">
            Title: <input type="text" placeholder="Title" name="title" /><br />
            Ball Type:<br />
            <input type="radio" name="ballType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="ballType" value="Wilson" /> Wilson<br />
            <input type="radio" name="ballType" value="Gamma" /> Gamma<br />
            <input type="radio" name="ballType" value="Slazenger" /> Slazenger<br />
            <input type="radio" name="ballType" value="Dunlop" /> Dunlop<br />
            <input type="radio" name="ballType" value="Penn" /> Penn<br />
            <input type="submit" value="Add Ball"/>
        </form>
        </div>

<!--<form data-th-object="${balls}" data-th-action="@{/balls/{id}(id=${balls.id})}" data-th-method="delete">
                            <input type="submit" value="delete" />
</form>-->
</div><!--end contentleft-->

        

        
</div>
    </body>
</html>