<!DOCTYPE html>
<html>
    <head>
        <title>Balls</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}" style="color:#CC885E;" class="active">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Balls!</h1>
        
        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ball Type</th>
                </tr>                
                <tr data-th-each="ball : ${balls}">
                    <td data-th-text="${ball.id}"></td>
                    <td data-th-text="${ball.title}"></td>
                    <td data-th-text="${ball.ballType}"></td>
                    <td><a data-th-href="@{/balls/edit/{id}(id=${ball.id})}">edit</a></td>
                    <td><form data-th-object="${ball}" data-th-action="@{/balls/{id}(id=${ball.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        </div>
    
        
        <hr />
        Add Ball<br />
        <form data-th-action="@{/balls/add}" name="addBallForm" method="post">
            Title: <input type="text" name="title" /><br />
            Ball Type:<br />
            <input type="radio" name="ballType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="ballType" value="Wilson" /> Wilson<br />
            <input type="radio" name="ballType" value="Gamma" /> Gamma<br />
            <input type="radio" name="ballType" value="Slazenger" /> Slazenger<br />
            <input type="radio" name="ballType" value="Dunlop" /> Dunlop<br />
            <input type="radio" name="ballType" value="Penn" /> Penn<br />
            <input type="submit" value="Add Ball"/>
        </form>

<!--<form data-th-object="${balls}" data-th-action="@{/balls/{id}(id=${balls.id})}" data-th-method="delete">
                            <input type="submit" value="delete" />
</form>-->
</div><!--end contentleft-->
        <hr /> 
        
        <footer class="footer-distributed">

			<div class="footer-left">


				<p class="footer-links">
					<a data-th-href="@{/hello}">Home</a>
					·
					<a data-th-href="@{/rackets}">Rackets</a>
					·
					<a data-th-href="@{/strings}">Strings</a>
					·
					<a data-th-href="@{/overgrips}">Overgrips</a>
					·
					<a data-th-href="@{/replacementgrips}">Replacement Grips</a>
					·
					<a data-th-href="@{/balls}">Balls</a>
                  ·
					<a data-th-href="@{/shoes}">Shoes</a>
					</p>
				
				<p class="footer-company-name">© 2017 TennisCollab. All Rights Reserved.</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Pittsburgh PA, 15213 </span> Pennsylvania, United States</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>Phone: 123 456 7890</p>
                    
				</div>

				<div>
					<i class="email"></i>
					<p><a href="#">Email: tenniscollab@email.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About TennisCollab</span>
					TennisCollab is a web application where users can log in and collaborate about all thing tennis!
				</p>
			</div>

		</footer>
        
</div>
    </body>
</html>