<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
<link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    </head>
    <body>

    <div id="wrapper">
    
<!--<nav class="fixed-nav-bar">-->
  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}" style="color:#CC885E;" class="active">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
    <li><a data-th-href="@{/strings}">Strings</a></li>
    <li><a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>
<!--</nav>-->
    
<div class="contentleft">
    <h1 data-th-inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <img src="images/usopen.jpg" style="width:700px"/>
<div class="button">
    <input type="button" id="lesen" value="Welcome!" />
</div>

<div class="text">
   
</div>

<script>
jQuery(document).ready(function() {
    jQuery("#lesen").click(function() {
        jQuery(".text").load("welcome.txt", function(){
            alert("Done Loading");
        });
   }); 
}); 
</script>
<script>
jQuery(document).ready(function(){
    jQuery("button").click(function(){
        jQuery("#div1").load("/welcome.txt");
    });
});
</script>

<!--<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

<button>Get External Content</button>
</div>-->

</div>



    </div>

    </body>
</html>