<!DOCTYPE html>
<html>
    <head>
        <title>Enter</title>
<link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    
         <div class="wrapper">

         <div class="leftdiv">


                <!--<p>Click <a data-th-href="@{/hello}">here</a> to see a greeting.</p>-->
               <div class="circle"> <p class="enter"><a data-th-href="@{/hello}" class="enter">Enter Here</a></p></div> 
         </div><!--end leftdiv-->       
         </div> <!--end wrapper-->

   </body>
</html>