<!DOCTYPE html>
<html>
    <head>
        <title>Spring Security Example</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    
         <div id="wrapper">
         <div id="navigationbar">
         
         </div><!--end navigationbar-->
         <div id="leftdiv">
             <h1>Welcome!</h1>

                <p>Click <a data-th-href="@{/hello}">here</a> to see a greeting.</p>
         </div><!--end leftdiv-->       
         </div> <!--end wrapper-->

   </body>
</html>