<!DOCTYPE html>
<html>
    <head>
        <title>Overgrips</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
<div id="wrapper">
  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li><a data-th-href="@{/strings}">Strings</a></li>
   <li><a data-th-href="@{/overgrips}" style="color:#CC885E;" class="active">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Overgrips!</h1>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Overgrip Type</th>
                    <th>Edit Selection</th>
                    <th>Delete Selection</th>
                </tr>                
                <tr data-th-each="overgrip : ${overgrips}">
                    <td data-th-text="${overgrip.id}"></td>
                    <td data-th-text="${overgrip.title}"></td>
                    <td data-th-text="${overgrip.overgripType}"></td>
                    <td><a data-th-href="@{/overgrips/edit/{id}(id=${overgrip.id})}">edit</a></td>
                    <td><form data-th-object="${overgrip}" data-th-action="@{/overgrips/{id}(id=${overgrip.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>

        
        <hr />
        Add Overgrip<br />
        <form data-th-action="@{/overgrips/add}" name="addOvergripForm" method="post">
            Title: <input type="text" name="title" /><br />
            Overgrip Type:<br />
            <input type="radio" name="overgripType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="overgripType" value="Wilson" /> Wilson<br />
            <input type="radio" name="overgripType" value="Babolat" /> Babolat<br />
            <input type="radio" name="overgripType" value="Head" /> Head<br />
            <input type="radio" name="overgripType" value="Yonex" /> Yonex<br />
            <input type="radio" name="overgripType" value="Prince" /> Prince<br />
            <input type="radio" name="overgripType" value="Prince" /> Dunlop<br />
            <input type="radio" name="overgripType" value="Prince" /> Tourna<br />           
            <input type="radio" name="overgripType" value="Prince" /> Volkl<br />
            <input type="submit" value="Add Overgrip"/>
        </form>

        <hr /> 
        </div>


        
        </div>
    </body>
</html>