<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit Overgrips</title>

    </head>
    <body>
        Edit Overgrips<br />
        <form 
            data-th-action="@{/overgrips/edit/{id}(id=${overgrip.id})}" 
            data-th-object="${overgrip}" 
            data-th-method="put" 
            role="form">
            Id: <span data-th-utext="${overgrip.id}"/><br />
            Title: <input type="text" name="title" data-th-value="${overgrip.title}" /><br />
            Overgrip Type:<br />
            <div data-th-each="elem: ${T(edu.infsci2560.models.TennisOvergrips.OvergripType).values()}">
                <input type="radio" 
                       data-th-name="overgripType" 
                       data-th-value="${elem.name()}" 
                       data-th-checked="${elem} eq ${T(edu.infsci2560.models.TennisOvergrips.OvergripType).valueOf(overgrip.overgripType)}">
                    <span data-th-utext="${elem.name()}" />
                </input>
            </div>
            <input type="submit" value="Update Overgrip"/><br />
        </form>
                
        <br />
        <div>

        </div>
        
    </body>
</html>