<!DOCTYPE html>
<html>
    <head>
        <title>Rackets</title>
        <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}" style="color:#CC885E;" class="active">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>
  
  <div class="contentleft">
          <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Rackets!</h1>

        
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Racket Type</th>
                </tr>                
                <tr data-th-each="racket : ${rackets}">
                    <td data-th-text="${racket.id}"></td>
                    <td data-th-text="${racket.title}"></td>
                    <td data-th-text="${racket.racketType}"></td>
                    <td><a data-th-href="@{/rackets/edit/{id}(id=${racket.id})}">edit</a></td>
                    <td><form data-th-object="${racket}" data-th-action="@{/rackets/{id}(id=${racket.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        
        
        <hr />
        Add Racket<br />
        <form data-th-action="@{/rackets/add}" name="addRacketForm" method="post">
            Title: <input type="text" name="title" /><br />
            Racket Type:<br />
            <input type="radio" name="racketType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="racketType" value="Wilson" /> Wilson<br />
            <input type="radio" name="racketType" value="Babolat" /> Babolat<br />
            <input type="radio" name="racketType" value="Head" /> Head<br />
            <input type="radio" name="racketType" value="Yonex" /> Yonex<br />
            <input type="radio" name="racketType" value="Prince" /> Prince<br />
            <input type="submit" value="Add Racket"/>
        </form>


        <div id="return">
        </div>
        <hr /> 
        </div>

        <footer class="footer-distributed">

			<div class="footer-left">


				<p class="footer-links">
					<a data-th-href="@{/hello}">Home</a>
					·
					<a data-th-href="@{/rackets}">Rackets</a>
					·
					<a data-th-href="@{/strings}">Strings</a>
					·
					<a data-th-href="@{/overgrips}">Overgrips</a>
					·
					<a data-th-href="@{/replacementgrips}">Replacement Grips</a>
					·
					<a data-th-href="@{/balls}">Balls</a>
                  ·
					<a data-th-href="@{/shoes}">Shoes</a>
					</p>
				
				<p class="footer-company-name">© 2017 TennisCollab. All Rights Reserved.</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Pittsburgh PA, 15213 </span> Pennsylvania, United States</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>Phone: 123 456 7890</p>
                    
				</div>

				<div>
					<i class="email"></i>
					<p><a href="#">Email: tenniscollab@email.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About TennisCollab</span>
					TennisCollab is a web application where users can log in and collaborate about all thing tennis!
				</p>
			</div>

		</footer>
        
        </div>
    </body>
</html>