<!DOCTYPE html>
<html>
    <head>
        <title>Rackets</title>
        <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}" style="color:#CC885E;" class="active">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>
  
  <div class="contentleft">
          <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Rackets!</h1>

        
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Racket Type</th>
                    <th>Edit Selection</th>
                    <th>Delete Selection</th>
                </tr>                
                <tr data-th-each="racket : ${rackets}">
                    <td data-th-text="${racket.id}"></td>
                    <td data-th-text="${racket.title}"></td>
                    <td data-th-text="${racket.racketType}"></td>
                    <td><a data-th-href="@{/rackets/edit/{id}(id=${racket.id})}">edit</a></td>
                    <td><form data-th-object="${racket}" data-th-action="@{/rackets/{id}(id=${racket.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        
        
        <hr />
        Add Racket<br />
        <form data-th-action="@{/rackets/add}" name="addRacketForm" method="post">
            Title: <input type="text" name="title" /><br />
            Racket Type:<br />
            <input type="radio" name="racketType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="racketType" value="Wilson" /> Wilson<br />
            <input type="radio" name="racketType" value="Babolat" /> Babolat<br />
            <input type="radio" name="racketType" value="Head" /> Head<br />
            <input type="radio" name="racketType" value="Yonex" /> Yonex<br />
            <input type="radio" name="racketType" value="Prince" /> Prince<br />
            <input type="submit" value="Add Racket"/>
        </form>


        <div id="return">
        </div>
        <hr /> 
        </div>


        
        </div>
    </body>
</html>