<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Rackets!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Racket Type</th>
                </tr>                
                <tr data-th-each="racket : ${rackets}">
                    <td data-th-text="${racket.id}"></td>
                    <td data-th-text="${racket.title}"></td>
                    <td data-th-text="${racket.racketType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Racket<br />
        <form data-th-action="@{/rackets/add}" name="addRacketForm" method="post">
            Title: <input type="text" name="title" /><br />
            Racket Type:<br />
            <input type="radio" name="racketType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="racketType" value="Wilson" /> Wilson<br />
            <input type="radio" name="racketType" value="Babolat" /> Babolat<br />
            <input type="radio" name="racketType" value="Head" /> Head<br />
            <input type="radio" name="racketType" value="Yonex" /> Yonex<br />
            <input type="radio" name="racketType" value="Prince" /> Prince<br />
            <input type="submit" value="Add Racket"/>
        </form>


        <div id="return">
        </div>
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>