<!DOCTYPE html>
<html>
    <head>
        <title>Replacement grips</title>
        <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
<div id="wrapper">
  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}" style="color:#CC885E;" class="active">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Replacement grips!</h1>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Replacementgrip Type</th>
                    <th>Edit Selection</th>
                    <th>Delete Selection</th>
                </tr>                
                <tr data-th-each="replacementgrip : ${replacementgrips}">
                    <td data-th-text="${replacementgrip.id}"></td>
                    <td data-th-text="${replacementgrip.title}"></td>
                    <td data-th-text="${replacementgrip.replacementgripType}"></td>
                    <td><a data-th-href="@{/replacementgrips/edit/{id}(id=${replacementgrip.id})}">edit</a></td>
                    <td><form data-th-object="${replacementgrip}" data-th-action="@{/replacementgrips/{id}(id=${replacementgrip.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Replacement grip<br />
        <form data-th-action="@{/replacementgrips/add}" name="addReplacementgripForm" method="post">
            Title: <input type="text" name="title" /><br />
            Replacement grip Type:<br />
            <input type="radio" name="replacementgripType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="replacementgripType" value="Wilson" /> Wilson<br />
            <input type="radio" name="replacementgripType" value="Babolat" /> Babolat<br />
            <input type="radio" name="replacementgripType" value="Head" /> Head<br />
            <input type="radio" name="replacementgripType" value="Yonex" /> Yonex<br />
            <input type="radio" name="replacementgripType" value="Prince" /> Prince<br />
            <input type="radio" name="replacementgripType" value="Prince" /> Dunlop<br />
            <input type="radio" name="replacementgripType" value="Prince" /> Tourna<br />           
            <input type="radio" name="replacementgripType" value="Prince" /> Volkl<br />
            <input type="radio" name="replacementgripType" value="Prince" /> Gamma<br />
            <input type="submit" value="Add Replacement grip"/>
        </form>
        
        <hr />       
</div>

<div class="footerer">TennisCollab 2017</div>

</div>
    </body>
</html>