<!DOCTYPE html>
<html>
    <head>
        <title>Shoes</title>
                <link data-th-href="@{styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Shoes!</h1>

  <div class="navigationbar">
    <a data-th-href="@{/hello}">Home</a>
    <a data-th-href="@{/rackets}">Rackets</a>
    <a data-th-href="@{/strings}">Strings</a>
    <a data-th-href="@{/overgrips}">Overgrips</a>
    <a data-th-href="@{/replacementgrips}">Replacement Grips</a>
    <a data-th-href="@{/balls}">Tennis Balls</a>
    <a data-th-href="@{/shoes}">Shoes</a>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
  </div>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Shoe Type</th>
                </tr>                
                <tr data-th-each="racket : ${shoes}">
                    <td data-th-text="${shoe.id}"></td>
                    <td data-th-text="${shoe.title}"></td>
                    <td data-th-text="${shoe.shoeType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Shoe<br />
        <form data-th-action="@{/shoes/add}" name="addShoeForm" method="post">
            Title: <input type="text" name="title" /><br />
            Shoe Type:<br />
            <input type="radio" name="shoeType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="shoeType" value="Nike" /> Nike<br />
            <input type="radio" name="shoeType" value="Adidas" /> Adidas<br />
            <input type="radio" name="shoeType" value="NewBalance" /> New Balance<br />
            <input type="radio" name="shoeType" value="Wilson" /> Wilson<br />
            <input type="radio" name="shoeType" value="Babolat" /> Babolat<br />
            <input type="radio" name="shoeType" value="Head" /> Head<br />
            <input type="radio" name="shoeType" value="Prince" /> Prince<br />
            <input type="radio" name="shoeType" value="Asics" /> Asics<br />
            <input type="radio" name="shoeType" value="KSwiss" /> K-Swiss<br />
            <input type="submit" value="Add Shoe"/>
        </form>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>