<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit Tennis Shoes</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div id="wrapper">
    
          <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}" style="color:#CC885E;" class="active">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>
    
          <div class="contentleft">
        Edit Shoes<br />
        <form 
            data-th-action="@{/shoes/edit/{id}(id=${shoe.id})}" 
            data-th-object="${shoe}" 
            data-th-method="put" 
            role="form">
            Id: <span data-th-utext="${shoe.id}"/><br />
            Title: <input type="text" name="title" data-th-value="${shoe.title}" /><br />
            Shoe Type:<br />
            <div data-th-each="elem: ${T(edu.infsci2560.models.TennisShoes.ShoeType).values()}">
                <input type="radio" 
                       data-th-name="shoeType" 
                       data-th-value="${elem.name()}" 
                       data-th-checked="${elem} eq ${T(edu.infsci2560.models.TennisShoes.ShoeType).valueOf(shoe.shoeType)}">
                    <span data-th-utext="${elem.name()}" />
                </input>
            </div>
            <input type="submit" value="Update Shoe"/><br />
        </form>
                
        <br />
        <div>

        </div>
        </div><!--end content left-->
        </div>
    </body>
</html>