<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit Tennis Shoes</title>

    </head>
    <body>
        Edit Shoes<br />
        <form 
            data-th-action="@{/shoes/edit/{id}(id=${shoe.id})}" 
            data-th-object="${shoe}" 
            data-th-method="put" 
            role="form">
            Id: <span data-th-utext="${shoe.id}"/><br />
            Title: <input type="text" name="title" data-th-value="${shoe.title}" /><br />
            Shoe Type:<br />
            <div data-th-each="elem: ${T(edu.infsci2560.models.TennisShoes.ShoeType).values()}">
                <input type="radio" 
                       data-th-name="shoeType" 
                       data-th-value="${elem.name()}" 
                       data-th-checked="${elem} eq ${T(edu.infsci2560.models.TennisShoes.ShoeType).valueOf(shoe.shoeType)}">
                    <span data-th-utext="${elem.name()}" />
                </input>
            </div>
            <input type="submit" value="Update Shoe"/><br />
        </form>
                
        <br />
        <div>

        </div>
        
    </body>
</html>