<!DOCTYPE html>
<html>
    <head>
        <title>Shoes</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li> 
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}" style="color:#CC885E;" class="active">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Shoes!</h1>
        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Shoe Type</th>
                </tr>                
                <tr data-th-each="shoe : ${shoes}">
                    <td data-th-text="${shoe.id}"></td>
                    <td data-th-text="${shoe.title}"></td>
                    <td data-th-text="${shoe.shoeType}"></td>
                    <td><a data-th-href="@{/shoes/edit/{id}(id=${shoe.id})}">edit</a></td>
                    <td><form data-th-object="${shoe}" data-th-action="@{/shoes/{id}(id=${shoe.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Shoe<br />
        <form data-th-action="@{/shoes/add}" name="addShoeForm" method="post">
            Title: <input type="text" name="title" /><br />
            Shoe Type:<br />
            <input type="radio" name="shoeType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="shoeType" value="Nike" /> Nike<br />
            <input type="radio" name="shoeType" value="Adidas" /> Adidas<br />
            <input type="radio" name="shoeType" value="NewBalance" /> New Balance<br />
            <input type="radio" name="shoeType" value="Wilson" /> Wilson<br />
            <input type="radio" name="shoeType" value="Babolat" /> Babolat<br />
            <input type="radio" name="shoeType" value="Head" /> Head<br />
            <input type="radio" name="shoeType" value="Prince" /> Prince<br />
            <input type="radio" name="shoeType" value="Asics" /> Asics<br />
            <input type="radio" name="shoeType" value="KSwiss" /> K-Swiss<br />
            <input type="submit" value="Add Shoe"/>
        </form>
        
        <hr />  
        
        </div>
        
                <footer class="footer-distributed">

			<div class="footer-left">


				<p class="footer-links">
					<a data-th-href="@{/hello}">Home</a>
					·
					<a data-th-href="@{/rackets}">Rackets</a>
					·
					<a data-th-href="@{/strings}">Strings</a>
					·
					<a data-th-href="@{/overgrips}">Overgrips</a>
					·
					<a data-th-href="@{/replacementgrips}">Replacement Grips</a>
					·
					<a data-th-href="@{/balls}">Balls</a>
                  ·
					<a data-th-href="@{/shoes}">Shoes</a>
					</p>
				
				<p class="footer-company-name">© 2017 TennisCollab. All Rights Reserved.</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Pittsburgh PA, 15213 </span> Pennsylvania, United States</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>Phone: 123 456 7890</p>
                    
				</div>

				<div>
					<i class="email"></i>
					<p><a href="#">Email: tenniscollab@email.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About TennisCollab</span>
					TennisCollab is a web application where users can log in and collaborate about all thing tennis!
				</p>
			</div>

		</footer>
        
        </div>

    </body>
</html>