<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit Tennis Strings</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div id="wrapper">
    
      <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li>
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>
  
  <div class="contentleft">
        Edit Strings<br />
        <form 
            data-th-action="@{/strings/edit/{id}(id=${string.id})}" 
            data-th-object="${string}" 
            data-th-method="put" 
            role="form">
            Id: <span data-th-utext="${string.id}"/><br />
            Title: <input type="text" name="title" data-th-value="${string.title}" /><br />
            String Type:<br />
            <div data-th-each="elem: ${T(edu.infsci2560.models.TennisStrings.StringType).values()}">
                <input type="radio" 
                       data-th-name="stringType" 
                       data-th-value="${elem.name()}" 
                       data-th-checked="${elem} eq ${T(edu.infsci2560.models.TennisStrings.StringType).valueOf(string.stringType)}">
                    <span data-th-utext="${elem.name()}" />
                </input>
            </div>
            <input type="submit" value="Update String"/><br />
        </form>
                
        <br />
        <div>

        </div>
        
        </div><!--end content left-->
        
        </div>
        
    </body>
</html>