<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}" style="color:#CC885E;" class="active">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li> 
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Strings!</h1>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>String Type</th>
                    <th>Edit Selection</th>
                    <th>Delete Selection</th>
                </tr>                
                <tr data-th-each="string : ${strings}">
                    <td data-th-text="${string.id}"></td>
                    <td data-th-text="${string.title}"></td>
                    <td data-th-text="${string.stringType}"></td>
                    <td><a data-th-href="@{/strings/edit/{id}(id=${string.id})}">edit</a></td>
                    <td><form data-th-object="${string}" data-th-action="@{/strings/{id}(id=${string.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add String<br />
        <form data-th-action="@{/strings/add}" name="addStringForm" method="post">
            Title: <input type="text" name="title" /><br />
            String Type:<br />
            <input type="radio" name="stringType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="stringType" value="Wilson" /> Wilson<br />
            <input type="radio" name="stringType" value="Babolat" /> Babolat<br />
            <input type="radio" name="stringType" value="Head" /> Head<br />
            <input type="radio" name="stringType" value="Yonex" /> Yonex<br />
            <input type="radio" name="stringType" value="Technifibre" /> Technifibre<br />
            <input type="radio" name="stringType" value="Ashaway" /> Ashaway<br />
            <input type="radio" name="stringType" value="Luxilon" /> Luxilon<br />
            <input type="radio" name="stringType" value="Solinco" /> Solinco<br />
            <input type="radio" name="stringType" value="Dunlop" /> Dunlop<br />
            <input type="radio" name="stringType" value="Gamma" /> Gamma<br />
            <input type="radio" name="stringType" value="Forten" /> Forten<br />
            <input type="radio" name="stringType" value="Gosen" /> Gosen<br />                
            <input type="submit" value="Add String"/>
        </form>
        
        <hr />       
</div>

        <footer class="footer-distributed">

			<div class="footer-left">


				<p class="footer-links">
					<a data-th-href="@{/hello}">Home</a>
					·
					<a data-th-href="@{/rackets}">Rackets</a>
					·
					<a data-th-href="@{/strings}">Strings</a>
					·
					<a data-th-href="@{/overgrips}">Overgrips</a>
					·
					<a data-th-href="@{/replacementgrips}">Replacement Grips</a>
					·
					<a data-th-href="@{/balls}">Balls</a>
                  ·
					<a data-th-href="@{/shoes}">Shoes</a>
					</p>
				
				<p class="footer-company-name">© 2017 TennisCollab. All Rights Reserved.</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Pittsburgh PA, 15213 </span> Pennsylvania, United States</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>Phone: 123 456 7890</p>
                    
				</div>

				<div>
					<i class="email"></i>
					<p><a href="#">Email: tenniscollab@email.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About TennisCollab</span>
					TennisCollab is a web application where users can log in and collaborate about all thing tennis!
				</p>
			</div>

		</footer>

</div>

    </body>
</html>