<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
                <link data-th-href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

<div id="wrapper">

  <div class="navigationbar">
  <ul>
    <li><a data-th-href="@{/hello}">Home</a></li>
    <li><a data-th-href="@{/rackets}">Rackets</a></li>
   <li> <a data-th-href="@{/strings}" style="color:#CC885E;" class="active">Strings</a></li>
   <li> <a data-th-href="@{/overgrips}">Overgrips</a></li>
    <li><a data-th-href="@{/replacementgrips}">Replacement Grips</a></li> 
    <li><a data-th-href="@{/balls}">Tennis Balls</a></li>
    <li><a data-th-href="@{/shoes}">Shoes</a></li>
    
    <form data-th-action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    </ul>
  </div>

<div class="contentleft">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Tennis Strings!</h1>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>String Type</th>
                    <th>Edit Selection</th>
                    <th>Delete Selection</th>
                </tr>                
                <tr data-th-each="string : ${strings}">
                    <td data-th-text="${string.id}"></td>
                    <td data-th-text="${string.title}"></td>
                    <td data-th-text="${string.stringType}"></td>
                    <td><a data-th-href="@{/strings/edit/{id}(id=${string.id})}">edit</a></td>
                    <td><form data-th-object="${string}" data-th-action="@{/strings/{id}(id=${string.id})}" data-th-method="delete">
                        <input type="submit" value="delete" />
                    </form>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="pageform">
        <h2>Add String</h2>
        <form data-th-action="@{/strings/add}" name="addStringForm" method="post">
            <input type="text" placeholder="Title" name="title" /><br />
            String Type:<br />
            <input type="radio" name="stringType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="stringType" value="Wilson" /> Wilson<br />
            <input type="radio" name="stringType" value="Babolat" /> Babolat<br />
            <input type="radio" name="stringType" value="Head" /> Head<br />
            <input type="radio" name="stringType" value="Yonex" /> Yonex<br />
            <input type="radio" name="stringType" value="Technifibre" /> Technifibre<br />
            <input type="radio" name="stringType" value="Ashaway" /> Ashaway<br />
            <input type="radio" name="stringType" value="Luxilon" /> Luxilon<br />
            <input type="radio" name="stringType" value="Solinco" /> Solinco<br />
            <input type="radio" name="stringType" value="Dunlop" /> Dunlop<br />
            <input type="radio" name="stringType" value="Gamma" /> Gamma<br />
            <input type="radio" name="stringType" value="Forten" /> Forten<br />
            <input type="radio" name="stringType" value="Gosen" /> Gosen<br />                
            <input type="submit" value="Add String"/>
        </form>
        </div>
        <hr />       
</div>



</div>

    </body>
</html>