html{
    height:100%;
}
body{
	background-color:#f4f4f4;
	margin:0;

}

.footerer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #2e2e2e;
  color:#f4f4f4;
  text-align: center;
}

#wrapper{
    height:100%;
}

.wrapper1{
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 8px;
}
td {
    text-align: left;
    padding: 8px;
    color:gray;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: darkgray;}

.navigationbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigationbar li {
    float: left;
}

.navigationbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationbar li a:hover {
    background-color: #111;
}

.active{
    background-color: #111;
}

.navigationbar{
    overflow: hidden;
    background-color: #2e2e2e;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
   /*height:50px;*/

}

.navigationbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationbar a:hover {
    text-decoration: none;
    color:lightgray;
}


.navigationbar form{
    text-height:30;
    text-align:center;
    margin-top:13px;
    float:right;
    margin-right:10px;
}

p.enter {
  font-size: 2em;
  position: absolute;
  text-align: center;
  line-height:60px;
  margin-left:28px;
  margin-top:70px;
  color:darkgreen;
  text-decoration:none;
}

div.circle {    
    margin: 100px auto;
    width:200px;
    height:200px;
  background-color:lightgreen;
  cursor:pointer;
  text-decoration:none;
}

.circle {
    -moz-border-radius: 200px/200px;
    -webkit-border-radius: 200px 200px;
    border-radius: 200px/200px;;
    border:1px solid #91bd09;
    width:200px;
    height:200px;
    outline:none;
    -webkit-animation-name: green;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count:
    infinite;
    text-decoration:none;
}

.circle:hover {
    box-shadow: 0 0 2px #91bd09;
    -webkit-box-shadow: 0 0 2px #91bd09; 
    -moz-box-shadow: 0 0 2px #91bd09;
    border:2px solid #91bd09;
  background-color:green;
}

p.enter:hover {
  color:lightgray;
  text-decoration:none;
}

.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}

.login input[type="password"], .login input[type="text"] {
 center left no-repeat; 
 linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  /*box-sizing: border-box;*/
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 0px;
  transition: box-shadow 0.3s;
  width: 240px;
}

.login input[type="password"]:focus, .login input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.login input[type="submit"] {
  width:240px;
  height:35px;
  display:block;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.login input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

.contentleft{
    margin-top:50px;
    padding-left:15px;
}

.footer-distributed{
	background-color: #2e2e2e;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 50px;
	bottom: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer-distributed .footer-left{
	width: 40%;
}


.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}


.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}



.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
